@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Myriad Pro Regular", "Myriad Pro", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

h1, h2, h3, .font-bold {
  font-family: "Myriad Pro Regular", "Myriad Pro", Arial, Helvetica, sans-serif;
  font-weight: 700;
}